@tailwind base;
@tailwind components;
@tailwind utilities;


.mask-gradient {
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  

  /* Apply to the element you want to scroll */
.custom-scrollbar {
    scrollbar-width: thin;            /* Firefox */
    scrollbar-color: black transparent; /* Firefox */
  }
  
  /* WebKit Browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
    border: 2px solid transparent; /* Optional: for padding around thumb */
  }
  